a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
}

.img-fluid {
    width: 4rem;
    margin-top:-3px;
    min-width: 14px;
    min-height:14px;
}
    @media screen and (min-width: 768px) {
        .img-fluid {
        width: 2.5rem;
        }
    }

tr > td {
    vertical-align: middle;
    text-align: left;
    height:2.8rem;
    border-bottom: lightgray 2px solid
}

tr > .site-icon {
    padding: 0px 4px;
}

tr > .news-source {
    padding-top:0px;
    padding-bottom: 0px;
    line-height: 16px;
    padding: 0 2px;
}
tr > .news-source > a {
}

.article-website {
    font-family:serif;
    font-size: 1rem;
    font-weight: 900;
}



tr > .article-title {
    padding-left: 5x;
    font-size: 1.2rem;
}

/* some hacky shit from the internet to make the lines all double and same height - requires the 2.8rem up on tr > td as well*/
.article-title > a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

}
