.img-fluid {
    width: 4rem;
    margin-top:-3px;
}
    @media screen and (min-width: 768px) {
        .img-fluid {
        width: 2.5rem;
    }
}

tr > td {
    vertical-align: middle;
    text-align: left;
    height:2.8rem;

}

tr > .news-source {
    padding-top:0px;
    padding-bottom: 0px;
    line-height: 16px;
}

.article-website {
    font-family:serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
}


/* some hacky shit from the internet to make the lines all double and same height - requires the 2.8rem up on tr > td as well*/
.article-title > a {
  color: #323ca8; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
}
