a {
    text-decoration: none !important;
    color: black !important;

}

a:hover {
    text-decoration: underline;
}

.img-fluid {
    width: 4rem;
    margin-top:-3px;
    min-width: 14px;
    min-height:14px;
}


tr { 
    td {
        vertical-align: middle;
        text-align: left;
        height:2.8rem;
        /* OVerrides bootstrap */
        padding: 0.35rem 0.5rem !important;
        border-bottom: lightgray 2px solid
    }
    .site-icon {
        padding: 0px 4px;
    }
    .news-source {
        padding-top:0px;
        padding-bottom: 0px;
        line-height: 16px;
        padding: 0 2px;
    }
    .article-website {
        font-family:sans-serif;
        font-size: 1rem;
        font-weight: 700;   
    }
    .article-title {
        padding-left: 5x;
        font-size: 1.2rem;
        font-family: Serif;

        a {
            /* some hacky shit from the internet to make the lines all double and same height - requires the 2.8rem up on tr > td as well*/
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


@media screen and (min-width: 768px) {
    .img-fluid {
    width: 2.5rem;
    }
}

@media screen and (max-width: 576px) {
    tr {
        .article-title {
            font-size: 0.9rem;
            padding-left: 3px !important;
        }   
        .news-source {
            padding-right: 3px !important;
        }
    }     
}