@use '../../styles/_variables.scss';

.header-container {
    // background-color: variables.$primary;
    color: variables.$light;
    margin-bottom: 0.5rem;
    max-height:300px;
    padding-top:1rem;
    padding-bottom:2rem;
}
img {
max-height: 100px;
}