.table {
    max-width: 700px;
}

div.container {
    max-width: 600px;
}

.home-container {
    padding-bottom: 65px; /* Still clears the bottom 80px due to margin*/
    padding-left: 6px;
    padding-right: 6px;
}

div.container-fluid {
    border: 1px solid lightgray;
}

h2 {
    text-decoration: underline;
    font-family: serif;
}