.table {
}

div.container {
    max-width: 600px;
}

.home-container {
    padding-bottom: 65px; /* Still clears the bottom 80px due to margin*/
    padding-left: 6px;
    padding-right: 6px;
}

h2 {
    text-decoration: underline;
    font-family: serif;
}

@media screen and (max-width: 576px) {
    .home-container {
        padding-bottom: 65px; /* Still clears the bottom 80px due to margin*/
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}