@use "../styles/_variables.scss";


h2.current-page {
    color: variables.$primary;
}

.table {
}

div.container {
    max-width: 600px;
}

.home-container {
    padding-bottom: 80px; /* Still clears the bottom 80px due to margin*/

    text-decoration: none !important;
}



@media screen and (max-width: 576px) {
    .home-container {
        padding-bottom: 80px; /* Still clears the bottom 80px due to margin*/
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}