@use "../../../styles/variables";

a, a:hover {
        text-decoration: none !important;
}

.nav-tabs {
        .active {
        background-color: variables.$light !important;
        font-weight: bold;
}
}

        .container {
                    text-decoration: none !important;

        }
